

  <ion-content color="primary" [fullscreen]="true">
      
    
    
    <ion-card>
      <ion-item class="ion-text-center text-boldlogin">
        <ion-label>
          Inicio
        </ion-label>
      </ion-item>
      </ion-card>
     <br>
    <ion-card >
      <ion-button  expand="block" routerLink="/ponto-entrada">Entrada de funcionarios</ion-button>
    </ion-card>
    <br>
    <ion-card >
      <ion-button  expand="block" routerLink="/ponto-saida">Saida de funcionarios</ion-button>
    </ion-card>
  <br><br>
  <ion-card class="custombutton">
    <ion-button expand="block" routerLink="/login" >Login ADMIN</ion-button>
  </ion-card>
  </ion-content>
  

