/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.loginFunc{
    font-weight: bold;
    margin-top: 120px;
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto;
}

.text-boldlogin{
    font-weight: bold;
        
}
.custombutton{
    margin-left: auto;
    margin-right: auto;
    
    max-width: 28ch;

    --background:rgb(199, 195, 195);
}
.custombuttonFunc{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10PX;
    max-width: auto;
    font-weight: bold;
    

}
.StandardSTY{
    font-weight: bold;
    margin-top: 10px;
}
.ion-button-light{
    --backgroud:#fff;
    --color: var(--ion-color-primary) !important;
    font-weight: bold;
    margin-top: 10px;
}

ion-input, ion-datetime, ion-select{
    color: #808080 !important;
}

.itemNome{
    color: blue;
    font-weight: bold;
    font-size: 17px;
}
.itemCargo{
    color: rgb(255, 0, 0);
    
   
}
.itemData{
    color: rgba(0, 0, 255, 0.733);
}

.tipoRegistro
{
    font-size: 32px;
    color: black
}
.msg-erro{
    font-size: 11px;
    color: #ff0000
}